:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c09: #404040;
  --c08: #595959;
  --c07: #717171;
  --c06: #9c9c9c;
  --c05: #b2b2b2;
  --c04: #cccccc;
  --c03: #dedede;
  --c02: #ededed;
  --c01: #f7f7f7;
  --w: #ffffff;
  --p05: #332200;
  --p04: #664400;
  --p03: #a66f00;
  --p02: #e4a30b;
  --p01: #ffbb00;
  --tipografia-01: 'poppins',Arial
}

header {
  background-color: var(--c12);
}

.header {
  max-width: 1200px;
  box-sizing: border-box;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
   gap: 40px;
}

.header-menu a {
  font-size: 1.125rem;
  display: inline-block;
  text-decoration: none;
  color: var(--w);
  padding: 16px 0px;
  text-transform: capitalize;
  position: relative;
}
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--w);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;

}

.header-menu a:hover:after {
  width: 100%;

}

@media (max-width:800px){
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--c11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: var(--c10);
  }
  .header a:hover {
    background: none;
  }
}

@media (max-width:600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}