@import "./global/global.css";
@import "./global/header.css";
@import "./global/home/introducao.css";
@import "./utilidades/tipografia.css";
@import "./global/bicicletas/bicicletas-lista.css";
@import "./global/home/tecnologia.css";
@import "./global/home/parceiros.css";
@import "./global/home/depoimento.css";
@import "./global/seguros/seguro.css";
@import "./global/home/footer.css";
@import "./global/home/seguros.css";


@import "./global/termosecondicoes/termosecondicoes.css";
@import "./global/bicicletas/bicicletas.css";
@import "./global/seguros/vantagens.css";
@import "./global/seguros/perguntas.css";



/* componentes */
@import "./utilidades/componentes.css";
@import "./utilidades/cores.css";

/* home */
@import "./home/introducao.css";