

h1, 
ul,
p {
  margin: 0px;
}

body {
  font-family: Arial, helvetica, sans-serif;
  margin: 0px;
  color: black;
  height: 2000px;
}

h1,
h2,
h3,
h4,
p,
blockquote{
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"]{
  border-radius: 4px;

}
